torsten_tutorial_1_supplementary
*.rds
*.csv
.vscode/settings.json
coursera/noaa-weather-sample-data/

coursera/._noaa-weather-sample-data
*.tar.gz
coursera/Capstone/CapstoneDB.sqlite
coursera/Capstone/r.png
